:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fffae9;
}

.app__title {
  height: 20vh;
  display: flex;
  align-items: center;
  font-size: 28px;
}

.app__body {
  height: 80vh;
  font-size: x-large;
}
